<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Bootstrap CSS CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>Not Found</title>
</head>

<body>
  <div class="jumbotron">
    <div style="padding-left: 100px">
      <img class="ml-5" src="/notfound.svg" width="200px" height="200px"/>
      <h1 class="display-4 mt-5">404 Not Found in TinyApp</h1>
      <p class="lead">Sorry, an error has occured. Requested page not found!</p>
      <hr class="my-4">
      <p>Maybe you were testing manually?</p>
      <br/>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/" role="button">Take Me Home</a>
      </p>
    </div>
  </div>
</body>